<a href="https://colab.research.google.com/github/rossilucaz/alura-python-nlp-corretor-ortografico/blob/main/Leads_Recanto_Espinheiros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
planilha = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSUuul2dZjGK68GSyxdTklLAA4oS_7_eiB5iHv5H9GlZkOWO-BBAg-fLtRr-cuRNKPYYPCqXNH0bjxp/pubhtml')

In [ ]:
planilha

[      Unnamed: 0 Unnamed: 1            Unnamed: 2           Unnamed: 3  \
 0              1  Atentende              CAMPANHA      DATA DA ENTRADA
 1              2        NaN    Imagem tradicional  02/03/2021 00:00:00
 2              3        NaN          Landing Page  06/04/2021 12:00:00
 3              4        NaN  FormulÃ¡rio Facebook  30/05/2022 16:12:00
 4              5        NaN  FormulÃ¡rio Facebook  31/05/2022 01:13:00
 ...          ...        ...                   ...                  ...
 4176        4177        NaN                   NaN                  NaN
 4177        4178        NaN                   NaN                  NaN
 4178        4179        NaN                   NaN                  NaN
 4179        4180        NaN                   NaN                  NaN
 4180        4181        NaN                   NaN                  NaN

                Unnamed: 4                                 Unnamed: 5  \
 0     DATA ULTIMO CONTATO                                    CLIENTE
 1                     NaN                             Juliana Pyetro
 2                     NaN                                Garcez Appi
 3                     NaN  <test lead: dummy data for nome_completo>
 4     31/05/2022 00:00:00                    Deizieli Ramos Da Silva
 ...                   ...                                        ...
 4176                  NaN                                        NaN
 4177                  NaN                                        NaN
 4178                  NaN                                        NaN
 4179                  NaN                                        NaN
 4180                  NaN                                        NaN

      Unnamed: 6      Unnamed: 7                Unnamed: 8  \
 0           CPF  SITUAÃÃO CPF                     EMAIL
 1           NaN             NaN     Julifilhos@icloud.com
 2           NaN             NaN      garcezappi@gmail.com
 3           NaN             NaN               test@fb.com
 4           NaN             NaN  deizyramos1994@gmail.com
 ...         ...             ...                       ...
 4176        NaN             NaN                       NaN
 4177        NaN             NaN                       NaN
 4178        NaN             NaN                       NaN
 4179        NaN             NaN                       NaN
 4180        NaN             NaN                       NaN

                                 Unnamed: 9 Unnamed: 10  \
 0                                telefones       ETAPA
 1                            5547996083347        Lead
 2                          (47) 99608-5695        Lead
 3     <test lead: dummy data for telefone>        Lead
 4                            5548996803830        Lead
 ...                                    ...         ...
 4176                                   NaN         NaN
 4177                                   NaN         NaN
 4178                                   NaN         NaN
 4179                                   NaN         NaN
 4180                                   NaN         NaN

                                  Unnamed: 11 Unnamed: 12    Unnamed: 13  \
 0                               OBSERVAÃÃO       RENDA       PERDIDOS
 1                                        NaN         NaN            NaN
 2                                        NaN         NaN            NaN
 3                                        NaN         NaN            NaN
 4     NÃ£o responde as tentativas de contato         NaN  NÃO RESPONDE
 ...                                      ...         ...            ...
 4176                                     NaN         NaN            NaN
 4177                                     NaN         NaN            NaN
 4178                                     NaN         NaN            NaN
 4179                                     NaN         NaN            NaN
 4180                                     NaN         NaN            NaN

        Unnamed: 14 Unnamed: 15 Unnamed: 16
 0     DATA PERDIDO       CANAL        LIDO
 1              NaN          fb           S
 2              NaN          lp         NaN
 3              NaN          fb         NaN
 4       06/09/2022          fb         NaN
 ...            ...         ...         ...
 4176           NaN         NaN         NaN
 4177           NaN         NaN         NaN
 4178           NaN         NaN         NaN
 4179           NaN         NaN         NaN
 4180           NaN         NaN         NaN

 [4181 rows x 17 columns]]

In [ ]:
planilha = planilha[0][1:]

In [ ]:
planilha

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1,2,NaN,Imagem tradicional,02/03/2021 00:00:00,NaN,Juliana Pyetro,NaN,NaN,Julifilhos@icloud.com,5547996083347,Lead,NaN,NaN,NaN,NaN,fb,S
2,3,NaN,Landing Page,06/04/2021 12:00:00,NaN,Garcez Appi,NaN,NaN,garcezappi@gmail.com,(47) 99608-5695,Lead,NaN,NaN,NaN,NaN,lp,NaN
3,4,NaN,FormulÃ¡rio Facebook,30/05/2022 16:12:00,NaN,<test lead: dummy data for nome_completo>,NaN,NaN,test@fb.com,<test lead: dummy data for telefone>,Lead,NaN,NaN,NaN,NaN,fb,NaN
4,5,NaN,FormulÃ¡rio Facebook,31/05/2022 01:13:00,31/05/2022 00:00:00,Deizieli Ramos Da Silva,NaN,NaN,deizyramos1994@gmail.com,5548996803830,Lead,NÃ£o responde as tentativas de contato,NaN,NÃO RESPONDE,06/09/2022,fb,NaN
5,6,NaN,FormulÃ¡rio Facebook,31/05/2022 12:02:00,31/05/2022 00:00:00,William Kucker,NaN,NaN,kaandreasantos1903@gmail.com,554796583898,Lead,Contato inicial,NaN,NÃO RESPONDE,NaN,fb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,4177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4177,4178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4178,4179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4179,4180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4180,4181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
planilha.rename({'Unnamed: 9' : 'Telefones'}, axis = 1, inplace = True)

C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\2295147405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha.rename({'Unnamed: 9' : 'Telefones'}, axis = 1, inplace = True)

In [ ]:
planilha

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Telefones,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
1,2,NaN,Imagem tradicional,02/03/2021 00:00:00,NaN,Juliana Pyetro,NaN,NaN,Julifilhos@icloud.com,5547996083347,Lead,NaN,NaN,NaN,NaN,fb,S
2,3,NaN,Landing Page,06/04/2021 12:00:00,NaN,Garcez Appi,NaN,NaN,garcezappi@gmail.com,(47) 99608-5695,Lead,NaN,NaN,NaN,NaN,lp,NaN
3,4,NaN,FormulÃ¡rio Facebook,30/05/2022 16:12:00,NaN,<test lead: dummy data for nome_completo>,NaN,NaN,test@fb.com,<test lead: dummy data for telefone>,Lead,NaN,NaN,NaN,NaN,fb,NaN
4,5,NaN,FormulÃ¡rio Facebook,31/05/2022 01:13:00,31/05/2022 00:00:00,Deizieli Ramos Da Silva,NaN,NaN,deizyramos1994@gmail.com,5548996803830,Lead,NÃ£o responde as tentativas de contato,NaN,NÃO RESPONDE,06/09/2022,fb,NaN
5,6,NaN,FormulÃ¡rio Facebook,31/05/2022 12:02:00,31/05/2022 00:00:00,William Kucker,NaN,NaN,kaandreasantos1903@gmail.com,554796583898,Lead,Contato inicial,NaN,NÃO RESPONDE,NaN,fb,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,4177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4177,4178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4178,4179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4179,4180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4180,4181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
planilha['Telefones_Corretos'] = planilha.Telefones.apply(lambda x: str(x))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.rstrip())
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.lstrip())
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('(',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace(')',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('())',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace(' ',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('-',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('+',''))
planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('+55',''))

C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones.apply(lambda x: str(x))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.rstrip())
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.lstrip())
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('(',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace(')',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('())',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace(' ',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('-',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('+',''))
C:\Users\lucas\AppData\Local\Temp\ipykernel_3308\4141941321.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planilha['Telefones_Corretos'] = planilha.Telefones_Corretos.apply(lambda x: x.replace('+55',''))

In [ ]:
planilha

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Telefones,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Telefones_Corretos
1,2,NaN,Imagem tradicional,02/03/2021 00:00:00,NaN,Juliana Pyetro,NaN,NaN,Julifilhos@icloud.com,5547996083347,Lead,NaN,NaN,NaN,NaN,fb,S,5547996083347
2,3,NaN,Landing Page,06/04/2021 12:00:00,NaN,Garcez Appi,NaN,NaN,garcezappi@gmail.com,(47) 99608-5695,Lead,NaN,NaN,NaN,NaN,lp,NaN,47996085695
3,4,NaN,FormulÃ¡rio Facebook,30/05/2022 16:12:00,NaN,<test lead: dummy data for nome_completo>,NaN,NaN,test@fb.com,<test lead: dummy data for telefone>,Lead,NaN,NaN,NaN,NaN,fb,NaN,<testlead:dummydatafortelefone>
4,5,NaN,FormulÃ¡rio Facebook,31/05/2022 01:13:00,31/05/2022 00:00:00,Deizieli Ramos Da Silva,NaN,NaN,deizyramos1994@gmail.com,5548996803830,Lead,NÃ£o responde as tentativas de contato,NaN,NÃO RESPONDE,06/09/2022,fb,NaN,5548996803830
5,6,NaN,FormulÃ¡rio Facebook,31/05/2022 12:02:00,31/05/2022 00:00:00,William Kucker,NaN,NaN,kaandreasantos1903@gmail.com,554796583898,Lead,Contato inicial,NaN,NÃO RESPONDE,NaN,fb,NaN,554796583898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176,4177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
4177,4178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
4178,4179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
4179,4180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
4180,4181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan